*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica';
}

html,
body{
  height: 100%;
  width: 100%;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card{
  height: 370px;
  width: 335px;
  background: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img{
  height: 40px;
  width:40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
  object-fit: cover;
}

.top button{
  display: flex;
  align-items: center;
  border: 1.5px solid #dadada;
  padding: 3px 6px;
  font-size: 14px;
  border-radius: 5px;
  gap:3px;
  background-color: transparent;
  color: #818181;
  margin-bottom:25px;
}

.center h3{
  font-size: 18px;
  font-weight: 600;
  color: #555555;
}

.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2{
  font-size: 23px;
}

.center .tag{
  display: flex;
  gap: 5px;
  margin-top:10px;
}

.center .tag h4{
  font-size: 13px;
  background-color: #dadada;
  color: #555555;
  font-weight: 600;
  padding: 3px 6px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dedede;
  padding-top: 15px; 
}

.bottom button{
  background-color: black;
  color: rgb(203, 203, 203);
  padding:5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 550;
}

.bottom h3{
  font-size: 19px;
}

.bottom p{
  font-size: 12px;
  color:#8b8b8b;
}